asgiref==3.6.0
cffi==1.15.1
cryptography==40.0.1
Django==4.2
django-filter==22.1
django-rest-knox==4.2.0
djangorestframework==3.14.0
psycopg2==2.9.6
pycparser==2.21
pytz==2023.3
sqlparse==0.4.3
tzdata==2023.3
djangorestframework-simplejwt==5.2.2
PyJWT==2.6.0
