.App {
text-align: -moz-left;
}

.App-logo {
height: 50vmin;
width: 50vmin;
pointer-events: none;
background-color: #ff0000;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
animation: App-logo-spin infinite 15s linear;
}
}

.App-header {
background-color: #282c34;
min-height: 90vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(12px + 2vmin); / Изменил базовый размер шрифта на 12px */
color: white;
}

.App-link {
color: #61dafb;
}

@keyframes App-logo-spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}